.main_title {
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
}
.main_signUp {
  display: flex;
  flex-direction: column;
}

.main_text {
  color: rgb(6, 153, 211);
  text-align: center;
  cursor: pointer;
}
.main_header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.main_btnModal {
  background-color: transparent;
  color: gray;
  padding-top: 3px;
  font-size: 32px;
  border: none;
  outline: none;
  cursor: pointer;
}

.main_logout {
  display: flex;
  justify-content: flex-end;
}
.main_posts {
  padding: 20px;
}
.main_progress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;

  & > li {
    margin: 0 20px;
    & > a {
      position: relative;
      font-size: 1rem;
      width: 24px;
      height: 24px;
      outline: none;
      z-index: 100;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
        .active {
          background-color: red;
        }
      }

      &:hover {
        &::before {
          background-color: rgba(139, 139, 139, 0.6);
          transition: all 0.5s ease-out;
        }
      }
    }

    &:active {
      & > a::before {
        background-color: white;
      }
    }
  }

  &__previous,
  &__next {
    & > a {
      font-size: 0.7rem;
    }
  }

  &__disabled {
    display: none;
  }
}
// }
