.main_test {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.main_app_name {
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
  font-size: 1.2rem;
  background-color: white;
  border: none;
  cursor: pointer;
  color: red;
}

.main_title {
  font-family: "Playball", cursive;
  font-weight: normal;
  text-align: center;
  padding-bottom: 20px;
}

.main_signUp {
  display: flex;
  flex-direction: column;
}

.main_text {
  color: rgb(6, 153, 211);
  text-align: center;
  cursor: pointer;
}
.main_header {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid red;
  object-fit: contain;
  display: flex;
  z-index: 1;
  justify-content: space-between;
}

.main_mobileHeader {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid red;
  object-fit: contain;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  padding-bottom: 70px;
}

.main_btnModal {
  background-color: transparent;
  color: gray;
  padding-top: 3px;
  font-size: 32px;
  border: none;
  outline: none;
  cursor: pointer;
}

.main_logout {
  display: flex;
  justify-content: flex-end;
}
.main_posts {
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}
.main_progress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;

  & > li {
    margin: 0 20px;

    & > a {
      position: relative;
      font-size: 1rem;
      width: 24px;
      height: 24px;
      outline: none;
      z-index: 100;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -100;
      }

      &:hover {
        &::before {
          background-color: rgba(139, 139, 139, 0.6);
          transition: all 0.5s ease-out;
        }
      }
    }

    &:active {
      & > a::before {
        background-color: white;
      }
    }
  }

  &__previous,
  &__next {
    & > a {
      font-size: 0.7rem;
    }
  }

  &__disabled {
    display: none;
  }
}

.main_editBtnModal {
  /*波紋の基点とするためrelativeを指定*/
  position: relative;
  /*波紋の形状*/
  display: inline-block;
  // background: #333;
  font-size: 25px;
  padding-top: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #ccc;
  outline: none;
  cursor: pointer;
  /*アニメーションの設定*/
  transition: all 0.3s;
  /*hoverした際の背景色の設定*/
  &:hover {
    background: #666;
  }

  /*波形を2つ設定*/
  &::after,
  &::before {
    content: "";
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -27%;
    top: -28%;
    /*波形の形状*/
    border: 1px solid #333;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation: 1s circleanime linear infinite;
  }

  /*波形の2つ目は0.5秒遅らせてアニメーション*/
  &::before {
    animation-delay: 0.5s;
  }

  /*中央矢印*/
  &span::after {
    content: "";
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 38%;
    left: 45%;
    /*矢印の形状*/
    border: 14px solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-color: #fff;
  }
}
/*波形のアニメーション*/
@keyframes circleanime {
  0% {
    transform: scale(0.68);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.main_profile_img {
  text-align: center;
}

.main_mobileEditBtnModal {
  /*波紋の基点とするためrelativeを指定*/
  position: relative;
  /*波紋の形状*/
  display: inline-block;
  // background: #333;
  font-size: 25px;
  margin-top: 40px;
  padding-top: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #ccc;
  outline: none;
  cursor: pointer;
  /*アニメーションの設定*/
  transition: all 0.3s;
  /*hoverした際の背景色の設定*/
  &:hover {
    background: #666;
  }

  /*波形を2つ設定*/
  &::after,
  &::before {
    content: "";
    /*絶対配置で波形の位置を決める*/
    position: absolute;
    left: -27%;
    top: -28%;
    /*波形の形状*/
    border: 1px solid #333;
    width: 150%;
    height: 150%;
    border-radius: 50%;
    /*はじめは不透明*/
    opacity: 1;
    /*ループするアニメーションの設定*/
    animation: 1s circleanime linear infinite;
  }

  /*波形の2つ目は0.5秒遅らせてアニメーション*/
  &::before {
    animation-delay: 0.5s;
  }

  /*中央矢印*/
  &span::after {
    content: "";
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 38%;
    left: 45%;
    /*矢印の形状*/
    border: 14px solid transparent;
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-left-color: #fff;
  }
}
/*波形のアニメーション*/
@keyframes circleanime {
  0% {
    transform: scale(0.68);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.main_profile_img {
  text-align: center;
}
